*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    font-family: sans-serif;
}

nav {
    font-size: 20px;
   background: #171717e4;
   height: 61px;
   width: 100%;
}   

.logo {
    position:absolute;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 5px;

}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px ;
}

nav ul li a {
    color: #ffffff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover {
    transition: .5s;
}

.checkbtn{
    color: #ffffff;
    font-size: 30px;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.header {
    display: flex;
}


body {
    background: url(imagenes/fondo8.jpg );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    width: 100%;
    height: calc(100vh - 62px) !important;
   
}

.div {
    position:relative;
    background: #171717dc;
    width: 35%;
    height: 450px;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    border-radius: 20px;
}


h3 {
    font-size: 20px;
    color: #ffffff;
    margin-top: 30px;
}

img {
    margin-top: 10px;
}

.div2 {
    color: #ffffff;
    margin-top: 40px;

}
.btn {
    margin-top: 50px;
}

.btn2 {
    color: #ffffff;
    margin-top: 20px;
    padding: 15px 10px;
    margin-left: 8px;
    margin-right: 10px;
    background: #61929B;
    border-radius: 10px;
    transition: .50s;
}

.btn2:hover {
    background: #6B9A4F;
    transition: .5s;

}

.btn3 {
    color: #ffffff;
    padding: 15px 10px;
    margin-left: 9px;
    background: #61929B;
    border-radius: 10px;
    transition: .50s;
}


.btn3:hover {
    background: #6B9A4F;
    transition: .5s;

}


h4 {    
    font-size: 20px;
}

