*{
    margin: auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    font-family: sans-serif;
}

.header {
    display: flex;
}

body {
    background: url(imagenes/fondo8.jpg );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    width: 100%;
    height: calc(100vh - 62px) !important;
  
}



nav {
    background: #171717e4;
    height: 61px;
    width: 100%;
}

.logo {
    position:absolute;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 5px;

}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px ;
}

nav ul li a {
    color: #ffffff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.checkbtn {
    color: #ffffff;
    font-size: 30px;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


.div {
    margin: auto;
    margin-top: 30px;
    height: 80vh;
    color: #ffffff;
    width: 80%;
    background: #171717f4;
    border-radius: 25px;
}

.div {
    text-align: center;
}

.h3 {
    margin-top: 14px;
    font-size: 25px;
}

.div2 {
    margin-top: 40px;
    position: relative;
}


table  {
    margin-top: 30  px;
    margin-left: auto;
    margin-right: auto;
}

td,th {
    padding-left: 40px;
    padding-right: 70px;
    padding-bottom: 10px;
}

th {
    text-transform: uppercase;
}

td {
    font-size: 17px;
}

.btn {
    margin-top: 50px;
}

.btn2 {
    color: #ffffff;
    margin-top: 10px;
    padding: 15px;
    margin-right: 40px;
    font-size: 20px;
    background: #61929B;
    border-radius: 10px;
    transition: .50s;
}

.btn3 {
    color: #ffffff;
    padding: 15px;
    margin-left: 14px;
    font-size: 20px;
    background: #61929B;
    border-radius: 10px;
    transition: .50s;
}


.btn2:hover {
    background: #6B9A4F;
}

.btn3:hover {
    background: #6B9A4F;
}


